POSTGRES_DB=serenade
POSTGRES_USER=replace-me
POSTGRES_PASSWORD=replace-me
POSTGRES_JDBC_URL=jdbc:postgresql://localhost:5432/serenade

REDIS_HOST=localhost
REDIS_PORT=6379

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=replace-me
RABBITMQ_PASSWORD=replace-me

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=replace-me
MINIO_SECRET_KEY=replace-me
MINIO_BUCKET=serenade
